In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
url = 'https://companiesmarketcap.com/largest-companies-by-revenue/'

In [5]:
page = requests.get(url)

In [6]:
soup = BeautifulSoup(page.text, 'html')

In [7]:
table = soup.find_all('table')[0]

In [8]:
title_all = table.find_all('th')

In [9]:
title = [title.text.strip() for title in title_all][1:]

In [10]:
df = pd.DataFrame(columns = title)
df.insert(3,'Unit','')
total_title = len(df.columns)

In [11]:
table.find_all('tr').clear()

In [12]:
data_row = table.find_all('td')
x = [data.text.strip() for data in data_row]
for i in x:
    if i == 'Close Ad X':
        x.remove(i)
start = 0
end = total_title+1
step = total_title
while end <= len(x) +1 :
    data = ' '.join(x[start:end]).strip()
    data_list = data.split()
    list1=[]
    for stt,data1 in enumerate(data_list[:len(data_list)-2]):
        if any(char.isalpha() for char in data1):
            list1.append(stt)
    change = list1[:len(list1)-1]
    data_list[min(change):max(change)+1] = [' '.join(data_list[min(change):max(change)+1])]
    if len(data_list) > 8:
        del(data_list[7])
    print(data_list)
    length = len(df)
    df.loc[length] = data_list
    start += step
    end += step

['1', 'WalmartWMT', '$665.03', 'B', '$80.81', '0.61%', 'ğŸ‡ºğŸ‡¸', 'USA']
['2', 'AmazonAMZN', '$604.33', 'B', '$189.07', '0.04%', 'ğŸ‡ºğŸ‡¸', 'USA']
['3', 'Saudi Aramco2222.SR', '$495.35', 'B', '$7.22', '0.18%', 'ğŸ‡¸ğŸ‡¦', 'Arabia']
['4', 'Sinopec600028.SS', '$435.69', 'B', '$0.92', '0.15%', 'ğŸ‡¨ğŸ‡³', 'China']
['5', 'PetroChina601857.SS', '$429.67', 'B', '$1.19', '0.12%', 'ğŸ‡¨ğŸ‡³', 'China']
['6', 'Berkshire Hathaway BRK-B', '$402.87', 'B', '$464.16', '0.14%', 'ğŸ‡ºğŸ‡¸', 'USA']
['7', 'AppleAAPL', '$385.60', 'B', '$236.48', '0.63%', 'ğŸ‡ºğŸ‡¸', 'USA']
['8', 'UnitedHealthUNH', '$381.25', 'B', '$571.47', '0.33%', 'ğŸ‡ºğŸ‡¸', 'USA']
['9', 'CVS HealthCVS', '$363.24', 'B', '$58.17', '2.52%', 'ğŸ‡ºğŸ‡¸', 'USA']
['10', 'VolkswagenVOW3.DE', '$350.67', 'B', '$98.54', '0.96%', 'ğŸ‡©ğŸ‡ª', 'Germany']
['11', 'Exxon MobilXOM', '$340.65', 'B', '$120.08', '0.06%', 'ğŸ‡ºğŸ‡¸', 'USA']
['12', 'Alphabet (Google)GOOG', '$328.28', 'B', '$165.80', '0.45%', 'ğŸ‡ºğŸ‡¸', 'USA']
['13', 'China State Construction Engineering601668.SS', '$319.96', 'B', '$0.90', '1.85%', 'ğŸ‡¨ğŸ‡³', 'China']
['14', 'McKessonMCK', '$313.75', 'B', '$508.32', '0.17%', 'ğŸ‡ºğŸ‡¸', 'USA']
['15', 'ToyotaTM', '$308.59', 'B', '$169.17', '1.38%', 'ğŸ‡¯ğŸ‡µ', 'Japan']
['16', 'ShellSHEL', '$302.02', 'B', '$67.05', '0.01%', 'ğŸ‡¬ğŸ‡§', 'UK']
['17', 'Air Astana7YH.F', '$286.04', 'B', '$6.60', '7.02%', 'ğŸ‡°ğŸ‡¿', 'Kazakhstan']
['18', 'CencoraCOR', '$283.83', 'B', '$236.54', '0.37%', 'ğŸ‡ºğŸ‡¸', 'USA']
['19', 'JBSJBSS3.SA', '$281.46', 'B', '$6.12', '0.37%', 'ğŸ‡§ğŸ‡·', 'Brazil']
['20', 'GlencoreGLCNF', '$255.98', 'B', '$5.26', '0.19%', 'ğŸ‡¨ğŸ‡­', 'Switzerland']
['21', 'CostcoCOST', '$254.45', 'B', '$886.77', '0.31%', 'ğŸ‡ºğŸ‡¸', 'USA']
['22', 'MicrosoftMSFT', '$245.12', 'B', '$418.78', '0.15%', 'ğŸ‡ºğŸ‡¸', 'USA']
['23', 'Cardinal HealthCAH', '$226.82', 'B', '$112.32', '0.08%', 'ğŸ‡ºğŸ‡¸', 'USA']
['24', 'Exor EXO.AS', '$223.20', 'B', '$105.96', '0.81%', 'ğŸ‡³ğŸ‡±', 'Netherlands']
['25', 'CignaCI', '$216.00', 'B', '$320.23', '4.69%', 'ğŸ‡ºğŸ‡¸', 'USA']
['26', 'TotalEnergiesTTE', '$210.24', 'B', '$64.91', '0.00%', 'ğŸ‡«ğŸ‡·', 'France']
['27', 'Samsung005930.KS', '$209.37', 'B', '$42.21', '1.36%', 'ğŸ‡°ğŸ‡·', 'Korea']
['28', 'BPBP', '$201.58', 'B', '$31.47', '0.45%', 'ğŸ‡¬ğŸ‡§', 'UK']
['29', 'Foxconn (Hon Hai Precision Industry)2317.TW', '$197.38', 'B', '$6.66', '1.67%', 'ğŸ‡¹ğŸ‡¼', 'Taiwan']
['30', 'ChevronCVX', '$197.00', 'B', '$150.88', '0.09%', 'ğŸ‡ºğŸ‡¸', 'USA']
['31', 'FordF', '$180.34', 'B', '$10.88', '1.98%', 'ğŸ‡ºğŸ‡¸', 'USA']
['32', 'General MotorsGM', '$178.09', 'B', '$48.93', '0.51%', 'ğŸ‡ºğŸ‡¸', 'USA']
['33', 'Elevance HealthELV', '$171.71', 'B', '$422.26', '1.98%', 'ğŸ‡ºğŸ‡¸', 'USA']
['34', 'JPMorgan ChaseJPM', '$170.32', 'B', '$223.00', '1.05%', 'ğŸ‡ºğŸ‡¸', 'USA']
['35', 'China Railway Group0390.HK', '$169.79', 'B', '$0.52', '0.00%', 'ğŸ‡¨ğŸ‡³', 'China']
['36', 'BMWBMW.DE', '$167.35', 'B', '$81.05', '0.29%', 'ğŸ‡©ğŸ‡ª', 'Germany']
['37', 'Mercedes-BenzMBG.DE', '$162.01', 'B', '$61.70', '0.52%', 'ğŸ‡©ğŸ‡ª', 'Germany']
['38', 'KrogerKR', '$161.51', 'B', '$56.34', '0.34%', 'ğŸ‡ºğŸ‡¸', 'USA']
['39', 'CenteneCNC', '$157.74', 'B', '$61.00', '1.64%', 'ğŸ‡ºğŸ‡¸', 'USA']
['40', 'China Railway Construction 601186.SS', '$155.22', 'B', '$1.31', '1.58%', 'ğŸ‡¨ğŸ‡³', 'China']
['41', 'Jingdong MallJD', '$153.99', 'B', '$39.68', '0.75%', 'ğŸ‡¨ğŸ‡³', 'China']
['42', 'Home DepotHD', '$152.08', 'B', '$406.40', '2.07%', 'ğŸ‡ºğŸ‡¸', 'USA']
['43', 'Phillips 66PSX', '$151.85', 'B', '$131.32', '0.97%', 'ğŸ‡ºğŸ‡¸', 'USA']
['44', 'Meta Platforms (Facebook)META', '$149.78', 'B', '$575.16', '0.23%', 'ğŸ‡ºğŸ‡¸', 'USA']
['45', 'Marathon PetroleumMPC', '$147.79', 'B', '$156.91', '0.88%', 'ğŸ‡ºğŸ‡¸', 'USA']
['46', 'Walgreens Boots AllianceWBA', '$145.53', 'B', '$10.45', '3.15%', 'ğŸ‡ºğŸ‡¸', 'USA']
['47', 'China Mobile0941.HK', '$142.72', 'B', '$9.33', '0.96%', 'ğŸ‡¨ğŸ‡³', 'China']
['48', 'HondaHMC', '$141.02', 'B', '$30.50', '1.49%', 'ğŸ‡¯ğŸ‡µ', 'Japan']
['49', 'Valero EnergyVLO', '$140.06', 'B', '$135.50', '1.12%', 'ğŸ‡ºğŸ‡¸', 'USA']
['50', 'VerizonVZ', '$134.24', 'B', '$43.70', '0.66%', 'ğŸ‡ºğŸ‡¸', 'USA']
['51', 'AXACS.PA', '$133.95', 'B', '$38.66', '1.00%', 'ğŸ‡«ğŸ‡·', 'France']
['52', 'Mitsubishi Corporation8058.T', '$133.59', 'B', '$18.75', '0.51%', 'ğŸ‡¯ğŸ‡µ', 'Japan']
['53', 'AlibabaBABA', '$132.41', 'B', '$100.91', '1.48%', 'ğŸ‡¨ğŸ‡³', 'China']
['54', 'PrudentialPUK', '$128.42', 'B', '$17.10', '3.06%', 'ğŸ‡¬ğŸ‡§', 'UK']
['55', 'CITIC limited0267.HK', '$125.71', 'B', '$1.20', '0.43%', 'ğŸ‡¨ğŸ‡³', 'China']
['56', 'HyundaiHYMTF', '$125.35', 'B', '$62.05', '0.89%', 'ğŸ‡°ğŸ‡·', 'Korea']
['57', 'AT&TT', '$122.19', 'B', '$21.66', '0.87%', 'ğŸ‡ºğŸ‡¸', 'USA']
['58', 'Deutsche TelekomDTE.DE', '$121.53', 'B', '$30.19', '1.38%', 'ğŸ‡©ğŸ‡ª', 'Germany']
['59', 'ComcastCMCSA', '$121.11', 'B', '$40.53', '3.34%', 'ğŸ‡ºğŸ‡¸', 'USA']
['60', 'Ping An Insurance601318.SS', '$113.10', 'B', '$7.95', '0.44%', 'ğŸ‡¨ğŸ‡³', 'China']
['61', 'ICBC1398.HK', '$112.93', 'B', '$0.60', '0.21%', 'ğŸ‡¨ğŸ‡³', 'China']
['62', 'HumanaHUM', '$112.03', 'B', '$260.57', '2.46%', 'ğŸ‡ºğŸ‡¸', 'USA']
['63', 'Reliance IndustriesRELIANCE.NS', '$111.08', 'B', '$32.58', '0.73%', 'ğŸ‡®ğŸ‡³', 'India']
['64', 'NestlÃ©NESN.SW', '$111.03', 'B', '$99.86', '0.44%', 'ğŸ‡¨ğŸ‡­', 'Switzerland']
['65', 'AllianzALV.DE', '$107.85', 'B', '$326.01', '1.02%', 'ğŸ‡©ğŸ‡ª', 'Germany']
['66', 'TargetTGT', '$107.30', 'B', '$150.91', '3.78%', 'ğŸ‡ºğŸ‡¸', 'USA']
['67', 'EquinorEQNR', '$105.31', 'B', '$24.33', '0.75%', 'ğŸ‡³ğŸ‡´', 'Norway']
['68', 'China Construction Bank601939.SS', '$105.08', 'B', '$1.14', '0.37%', 'ğŸ‡¨ğŸ‡³', 'China']
['69', 'Life Insurance Corporation of India (LIC)LICI.NS', '$104.14', 'B', '$11.02', '0.92%', 'ğŸ‡®ğŸ‡³', 'India']
['70', 'China Communications Construction601800.SS', '$103.96', 'B', '$1.46', '1.98%', 'ğŸ‡¨ğŸ‡³', 'China']
['71', 'StellantisSTLA', '$101.32', 'B', '$12.91', '2.79%', 'ğŸ‡³ğŸ‡±', 'Netherlands']
['72', 'ENIE', '$98.89', 'B', '$30.79', '0.10%', 'ğŸ‡®ğŸ‡¹', 'Italy']
['73', 'Bank of America BAC', '$98.32', 'B', '$41.76', '1.32%', 'ğŸ‡ºğŸ‡¸', 'USA']
['74', 'SAIC Motor 600104.SS', '$98.09', 'B', '$1.84', '1.24%', 'ğŸ‡¨ğŸ‡³', 'China']
['75', 'SK Group034730.KS', '$97.44', 'B', '$106.75', '0.48%', 'ğŸ‡°ğŸ‡·', 'Korea']
['76', 'Agricultural Bank of China601288.SS', '$96.88', 'B', '$0.68', '0.21%', 'ğŸ‡¨ğŸ‡³', 'China']
['77', 'NVIDIANVDA', '$96.30', 'B', '$143.71', '4.14%', 'ğŸ‡ºğŸ‡¸', 'USA']
['78', 'Ahold DelhaizeAD.AS', '$96.09', 'B', '$33.08', '0.52%', 'ğŸ‡³ğŸ‡±', 'Netherlands']
['79', 'ItÅchÅ« ShÅji8001.T', '$95.76', 'B', '$50.27', '0.04%', 'ğŸ‡¯ğŸ‡µ', 'Japan']
['80', 'TeslaTSLA', '$95.31', 'B', '$218.85', '0.84%', 'ğŸ‡ºğŸ‡¸', 'USA']
['81', 'LVMHMC.PA', '$95.23', 'B', '$661.33', '1.96%', 'ğŸ‡«ğŸ‡·', 'France']
['82', 'Brookfield CorporationBN', '$94.91', 'B', '$55.39', '1.77%', 'ğŸ‡¨ğŸ‡¦', 'Canada']
['83', 'ENEOS Holdings5020.T', '$94.55', 'B', '$5.15', '0.42%', 'ğŸ‡¯ğŸ‡µ', 'Japan']
['84', 'CarrefourCA.PA', '$93.86', 'B', '$16.27', '0.63%', 'ğŸ‡«ğŸ‡·', 'France']
['85', 'UniperUN0.DE', '$92.25', 'B', '$49.68', '0.04%', 'ğŸ‡©ğŸ‡ª', 'Germany']
['86', 'Indian OilIOC.NS', '$92.21', 'B', '$1.91', '3.16%', 'ğŸ‡®ğŸ‡³', 'India']
['87', 'PepsicoPEP', '$91.92', 'B', '$175.01', '0.03%', 'ğŸ‡ºğŸ‡¸', 'USA']
['88', 'DellDELL', '$91.83', 'B', '$125.66', '0.63%', 'ğŸ‡ºğŸ‡¸', 'USA']
['89', 'ENGIEENGI.PA', '$91.27', 'B', '$17.13', '0.63%', 'ğŸ‡«ğŸ‡·', 'France']
['90', 'NTT (Nippon Telegraph & Telephone) 9432.T', '$91.18', 'B', '$0.96', '0.41%', 'ğŸ‡¯ğŸ‡µ', 'Japan']
['91', 'Mitsui Bussan 8031.T', '$91.00', 'B', '$20.67', '0.99%', 'ğŸ‡¯ğŸ‡µ', 'Japan']
['92', 'Walt DisneyDIS', '$90.02', 'B', '$96.62', '0.68%', 'ğŸ‡ºğŸ‡¸', 'USA']
['93', 'EnelENEL.MI', '$89.87', 'B', '$7.94', '0.07%', 'ğŸ‡®ğŸ‡¹', 'Italy']
['94', 'BYD002594.SZ', '$89.65', 'B', '$42.84', '0.44%', 'ğŸ‡¨ğŸ‡³', 'China']
['95', 'United Parcel ServiceUPS', '$89.50', 'B', '$131.33', '3.38%', 'ğŸ‡ºğŸ‡¸', 'USA']
['96', 'PTT PCLPTT-R.BK', '$89.23', 'B', '$1.02', '0.74%', 'ğŸ‡¹ğŸ‡­', 'Thailand']
['97', 'Archer Daniels Midland (ADM) ADM', '$88.76', 'B', '$56.13', '0.48%', 'ğŸ‡ºğŸ‡¸', 'USA']
['98', 'DHL Group (Deutsche Post)DHL.DE', '$88.13', 'B', '$40.75', '0.92%', 'ğŸ‡©ğŸ‡ª', 'Germany']
['99', 'FedExFDX', '$87.59', 'B', '$268.81', '2.04%', 'ğŸ‡ºğŸ‡¸', 'USA']
['100', 'E.ONEOAN.DE', '$87.44', 'B', '$14.03', '0.50%', 'ğŸ‡©ğŸ‡ª', 'Germany']

In [13]:
df = df.drop(columns=['Price (30 days)'])

In [14]:
df

,Rank,Name,Revenue,Unit,Price,Today,Country
0,1,WalmartWMT,$665.03,B,$80.81,0.61%,USA
1,2,AmazonAMZN,$604.33,B,$189.07,0.04%,USA
2,3,Saudi Aramco2222.SR,$495.35,B,$7.22,0.18%,Arabia
3,4,Sinopec600028.SS,$435.69,B,$0.92,0.15%,China
4,5,PetroChina601857.SS,$429.67,B,$1.19,0.12%,China
...,...,...,...,...,...,...,...
95,96,PTT PCLPTT-R.BK,$89.23,B,$1.02,0.74%,Thailand
96,97,Archer Daniels Midland (ADM) ADM,$88.76,B,$56.13,0.48%,USA
97,98,DHL Group (Deutsche Post)DHL.DE,$88.13,B,$40.75,0.92%,Germany
98,99,FedExFDX,$87.59,B,$268.81,2.04%,USA
99,100,E.ONEOAN.DE,$87.44,B,$14.03,0.50%,Germany